---
import { Image } from "astro:assets";
import Container from "../ui/layouts/Container.astro";
import FacebookLogo from "phosphor-astro/FacebookLogoFill.astro";
import InstagramLogo from "phosphor-astro/InstagramLogoFill.astro";
import PhoneIcon from "phosphor-astro/PhoneFill.astro";
import EnvelopeSimple from "phosphor-astro/EnvelopeFill.astro";
import MapPin from "phosphor-astro/MapPinFill.astro";
import SocialIcon from "../ui/SocialIcon.astro";
import MapaLocalizacao from "../../assets/localizacao-mozelli-marketing.jpg";
---

<footer class="py-16 bg-secondary md:px-10">
  <Container>
    <div
      class="flex flex-col md:grid md:grid-cols-2 md:grid-rows-2 lg:grid-cols-3 lg:grid-rows-2"
    >
      <div class="flex flex-col px-4">
        <h2 class="text-lg font-bold text-secondary-foreground pb-4">
          Siga nossas páginas
        </h2>
        <div class="flex gap-4">
          <SocialIcon link="https://facebook.com/facebook.mozelli.marketing"
            ><FacebookLogo class="w-10 h-auto" /></SocialIcon
          >
          <SocialIcon link="https://www.instagram.com/mozelli.marketing/"
            ><InstagramLogo class="w-10 h-auto" /></SocialIcon
          >
        </div>
      </div>
      <div class="flex flex-col px-4 py-16 md:py-0">
        <h2 class="text-lg font-bold text-secondary-foreground pb-4">
          Contatos
        </h2>
        <ul>
          <li class="flex items-center gap-2 pb-4 text-primary">
            <PhoneIcon class="w-7 h-auto text-primary" /><a
              href="tel:+5531998855602"
              class="text-secondary-foreground text-sm">+55 (31) 9 9885-5602</a
            >
          </li>
          <li class="flex items-center gap-2 pb-4">
            <EnvelopeSimple class="w-7 h-auto text-primary" />
            <a
              href="mailto:contato@mozellimarketing.com.br"
              class="text-secondary-foreground text-sm"
              >contato@mozellimarketing.com.br</a
            >
          </li>
          <li class="flex items-center gap-2">
            <MapPin class="w-7 h-auto text-primary" />
            <address class="text-secondary-foreground text-sm">
              Rua Joaquim Teixeira Dias, 710 <br />Cardoso, Belo Horizonte-MG <br
              />30626-620
            </address>
          </li>
        </ul>
      </div>
      <div class="flex flex-col">
        <h2 class="text-lg font-bold text-secondary-foreground pb-4">
          Localização
        </h2>
        <div class="flex items-center justify-center lg:px-4 map-container">
          <a
            href="https://maps.app.goo.gl/TbmxfE9J2yejCX797"
            title="Localização no Google Maps"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Ver nossa localização no Google Maps."
            class="block relative goup overflow-hidden rounded-xl"
          >
            <Image
              src={MapaLocalizacao}
              alt="Mapa da nossa localização em Belo Horizonte."
              loading="lazy"
              format="webp"
              quality="mid"
              class="transition-transform duration-500 group-hover:scale-105"
            />
            <div
              class="absolute inset-0 bg-black/10 group-hover:bg-transparent transition-colors flex items-center justify-center"
            >
              <span
                class="bg-white px-6 py-3 rounded-full shadow-lg font-bold text-gray-800"
              >
                Clique para abrir Google Maps
              </span>
            </div>
          </a>
        </div>
        <div class="flex flex-col items-center justify-center lg:pt-4">
          <p class="px-4 pt-8 md:pt-0 text-sm">
            <a href="#" class="text-blue-700">Política de privacidade </a>
          </p>
          <p class="px-4 pt-8 md:pt-0 text-sm">©2026 Mozelli Marketing</p>
          <p class="px-4 md:pt-0 text-sm">Todos os direitos reservados</p>
        </div>
      </div>
    </div>
  </Container>
</footer>
