---
import { Image } from "astro:assets";
import Container from "../../components/ui/layouts/Container.astro";
import HeroImage from "../../assets/imagem-hero-mozelli-marketing.jpg";
---

<div
  class="bg-background px-3 flex flex-col items-center justify-center w-full h-dvh"
>
  <Container>
    <section>
      <div class="md:flex md:items-center md:justify-center">
        <h2
          class="text-3xl lg:text-5xl xl:text-7xl text-center md:text-right font-extrabold text-primary w-full md:pl-10 py-4"
        >
          Ser encontrado é o que <span class="text-blue-500">traz o lucro</span
          >.
        </h2>
        <div
          class="flex items-center md:text-left lg:text-right justify-center md:block w-full xl:w-[60%]"
        >
          <Image
            src={HeroImage}
            alt="Imagem de um celular mostrando o resultado de uma pesquisa no google."
            class="w-[70%] xl:w-[70%] h-auto"
          />
        </div>
      </div>

      <p
        class="text-gray-500 font-semibold text-center pt-16 md:px-10 xl:text-lg"
      >
        Construímos a infraestrutura digital completa para que sua empresa seja
        a autoridade número 1 da sua região.
      </p>
    </section>
  </Container>
</div>
