---
import { Image } from "astro:assets";
import Container from "../ui/layouts/Container.astro";
import ImageSites from "../../assets/exemplos-de-sites-institucionais.jpg";
import ImageGoogleMeuNegocio from "../../assets/google-meu-negocio-simbolos.jpg";
import ImageSEOLocal from "../../assets/seo-local.png";
---

<div class="w-full py-16" id="solucoes">
  <Container>
    <section>
      <div class="flex flex-col">
        <h2
          class="text-primary text-center text-2xl md:text-3xl lg:text-5xl font-extrabold px-9"
        >
          Os 3 Pilares da Sua Presença Digital
        </h2>
        <h3
          class="text-lg text-center px-4 lg:text-2xl xl:text-3xl text-gray-500 font-bold py-7 xl:py-28"
        >
          1. O Site - Construção de Autoridade
        </h3>
        <div class="flex justify-center">
          <Image
            src={ImageSites}
            alt="Ilustração com alguns sites institucionais."
            class="w-full md:max-w-[60%] h-auto px-4"
            loading="lazy"
            format="webp"
            quality="mid"
          />
        </div>
        <div class="flex justify-center pb-16">
          <p
            class="text-center pt-7 px-4 md:px-0 w-full md:max-w-[70%] xl:text-lg"
          >
            Criamos um site institucional moderno, rápido e totalmente adaptado
            para celulares, com integração direta ao seu WhatsApp para facilitar
            a venda imediata.
          </p>
        </div>

        <h3
          class="text-lg text-center px-4 lg:text-2xl xl:text-3xl text-gray-500 font-bold py-7 xl:py-28"
        >
          2. Google Meu Negócio - Localização Estratégica
        </h3>
        <div class="flex justify-center">
          <Image
            src={ImageGoogleMeuNegocio}
            alt="Ilustração com alguns símbolo do Google como o logo, Google Maps, Google Meu Negócio."
            class="w-full md:max-w-[70%] h-auto"
            loading="lazy"
            format="webp"
            quality="mid"
          />
        </div>
        <div class="flex justify-center pb-16">
          <p
            class="text-center pt-7 px-4 md:px-0 w-full md:max-w-[70%] xl:text-lg"
          >
            Configuramos sua empresa para aparecer no topo das buscas locais
            (mapas), garantindo que quem procura pelo seu serviço te encontre
            antes da concorrência.
          </p>
        </div>

        <h3
          class="text-lg text-center px-4 lg:text-2xl xl:text-3xl text-gray-500 font-bold py-7 xl:py-28"
        >
          3. SEO Local - Inteligência de Busca
        </h3>
        <div class="flex justify-center">
          <Image
            src={ImageSEOLocal}
            alt="Ilustração com alguns sites institucionais."
            class="w-full max-w-[90%] md:max-w-[50%] h-auto"
            loading="lazy"
            format="webp"
            quality="mid"
          />
        </div>
        <div class="flex justify-center pb-16">
          <p
            class="text-center pt-7 px-4 md:px-0 w-full md:max-w-[70%] xl:text-lg"
          >
            Aplicamos técnicas para que o Google entenda que você é a melhor
            solução, usando conteúdo estratégico que educa seu cliente e gera
            confiança.
          </p>
        </div>
      </div>
    </section>
  </Container>
</div>
