---
import Container from "../ui/layouts/Container.astro";
import Building from "phosphor-astro/BuildingBold.astro";
---

<div class="w-full bg-background py-16" id="servicos">
  <Container>
    <section>
      <h2 class="text-primary text-center text-2xl font-extrabold px-9">
        Nossos Produtos
      </h2>
      <div
        class="flex flex-col border border-muted-foreground rounded-sm p-6 bg-secondary"
      >
        <Building
          class="w-11 h-auto text-primary/70 transition-all pb-2"
          aria-label="Ícone de um prédio, simbolizando o prédio de uma empresa.0"
        />
        <h3 class="text-xl text-primary font-semibold pb-4">
          Sites Institucioinais
        </h3>
        <p class="text-secondary-foreground pb-2">
          A <strong>presença digital</strong> sólida que sua empresa merece. Estrutura
          profissional para gerar autoridade e confiança.
        </p>
        <p class="text-primary text-sm">
          Blog integrado, Gestão de Conteúdo, Mapas e Contatos,
          Multi-dispositivo.
        </p>
      </div>
    </section>
  </Container>
</div>
