---
import Header from "../components/sections/Header.astro";
import Footer from "../components/sections/Footer.astro";
import Metodology from "../components/sections/Metodology.astro";
import Products from "../components/sections/Products.astro";
import Solutions from "../components/sections/Solutions.astro";
import Hero from "../components/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Container from "../components/ui/layouts/Container.astro";
---

<Layout>
  <div
    class="bg-white/50 backdrop-blur-md border-b shadow-sm fixed w-full left-0 top-0 z-50"
  >
    <Container>
      <Header />
    </Container>
  </div>
  <mai class="pt-24">
    <Hero />
    <Solutions />
    <Products />
    <Metodology />
  </mai>
  <div class="">
    <Footer />
  </div>
</Layout>
