---
import Header from "../components/sections/Header.astro";
import Footer from "../components/sections/Footer.astro";
import Metodology from "../components/sections/Metodology.astro";
import Products from "../components/sections/Products.astro";
import Solutions from "../components/sections/Solutions.astro";
import Hero from "../components/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Pilares from "../components/sections/Pilares.astro";
import SaudeDigitalCTA from "../components/sections/SaudeDigitalCTA.astro";
import FAC from "../components/sections/FAC.astro";

const faqData = [
  {
    question: "Como a Mozelli Marketing ajuda minha empresa a vender mais?",
    answer:
      "Utilizamos estratégias de tráfego pago (Google e Meta Ads) aliadas a landing pages de alta conversão para atrair leads qualificados.",
  },
  {
    question: "Quanto tempo leva para ver os primeiros resultados?",
    answer:
      "Em campanhas de tráfego pago, os resultados podem aparecer nas primeiras 48 horas após a ativação e otimização inicial.",
  },
];
---

<Layout>
  <div
    class="bg-white/50 backdrop-blur-md border-b border-b-gray-200 shadow-sm fixed w-full left-0 top-0 z-50"
  >
    <Header />
  </div>
  <main class="pt-24 w-full">
    <Hero />
    <Pilares />
    <SaudeDigitalCTA />
    <FAC items={faqData} />
  </main>
  <div class="">
    <Footer />
  </div>
</Layout>
