---
import SpeedInsights from "@vercel/speed-insights/astro";
import "../styles/global.css";
import "@fontsource/noto-sans-sora-sompeng";
import siteConfig from "../config/siteConfig.json";

const metadata = siteConfig[0].matadata;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{metadata.title}</title>
  </head>
  <body class="w-full h-screen">
    <slot />
    <SpeedInsights />
  </body>
</html>

<style>
  body {
    font-family: "Noto Sans Sora Sompeng";
  }
</style>
