---
// Aqui você pode definir os IDs via variáveis de ambiente para maior segurança
const GOOGLE_ADS_ID = "AW-123456789";
const META_PIXEL_ID = "987654321";

import "../styles/global.css";
import "@fontsource/noto-sans-sora-sompeng";
import siteConfig from "../config/siteConfig.json";

const metadata = siteConfig[0].matadata;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Parabéns! | {metadata.title}</title>
  </head>
  <body class="w-full h-screen">
    <slot />
  </body>
</html>

<style>
  body {
    font-family: "Noto Sans Sora Sompeng";
  }
</style>
