---
import SealCheckIcon from "phosphor-astro/SealCheckFill.astro";
---

<div class="flex flex-col gap-5 pt-5">
  <div class="flex items-center gap-2">
    <SealCheckIcon class="w-7 h-auto text-primary" aria-hidden="true" />
    <p class="text-secondary-foreground">Transmita credibilidade imediata.</p>
  </div>
  <div class="flex items-center gap-2">
    <SealCheckIcon class="w-7 h-auto text-primary" aria-hidden="true" />
    <p class="text-secondary-foreground">
      Tenha controle total da sua comunicação.
    </p>
  </div>
  <div class="flex items-center gap-2">
    <SealCheckIcon class="w-7 h-auto text-primary" aria-hidden="true" />
    <p class="text-secondary-foreground">
      Apareça no Google de forma estratégica.
    </p>
  </div>
  <div class="flex items-center gap-2">
    <SealCheckIcon class="w-7 h-auto text-primary" aria-hidden="true" />
    <p class="text-secondary-foreground">Gere leads de forma previsível.</p>
  </div>
  <div class="flex items-center gap-2">
    <SealCheckIcon class="w-7 h-auto text-primary" aria-hidden="true" />
    <p class="text-secondary-foreground">
      Apoie campanhas de tráfego pago e redes sociais.
    </p>
  </div>
  <p class="text-secondary-foreground font-semibold">
    Sem um site bem estruturado, sua empresa perde oportunidades todos os dias.
  </p>
</div>
